#if($dropIfExists)drop table if exists `${t.name}`;
#end
create table `${t.name}` (
#foreach($c in $t.columns)
  `${c.name}` ${c.columnType}#if($c.nullable) null#else not null#end#if($c.defaultValue) default '${c.defaultValue}'#end#if($c.autoIncrement) auto_increment#end#if(${c.primaryKey})

      primary key#end#if($foreach.hasNext),#end
#end
);
#foreach($i in $t.indexes)
create#if($i.unique) unique#end index ${i.name} on `${t.name}` ($i.columnList);
#end